/***** Defaults ********/


html {
	font-family: "Open Sans";
	font-weight: 300;
}

* {
	font-family: inherit;
	font-weight: inherit;
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: Rokkitt;
}

button {
	text-transform: capitalize;
	background-color: #40BB43;
	border-radius: 2px;
	height: 20px;
	font-size: 10px;
	color: white;
	border: none;
}

a {
	text-decoration: none;
	color: #40BB43;
}

a.button {
	text-transform: capitalize;
	background-color: #40BB43;
	border-radius: 2px;
	height: 20px;
	font-size: 10px;
	color: white;
	border: none;
}

a.button.warning {
	background-color: #E14D3E;
}

/******** Scafolding *********/

.primary-header {
	background-color: #3B4557;
	height: 70px;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
}

main {
	margin-top: 70px;
	margin-right: 350px;
	padding: 20px 100px;
}

main > * + * {
	margin-top: 20px;
}


.detail-dashboard {
	width: 350px;
	background-color: #ECF0F6;
	text-align: center;
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
}

/******* Primary Header *********/

div.logo {

}

span.logo {
	font-family: 'Dancing Script';
}

.primary-header h2 {
	float: left;
	margin-left: 100px;
	display: inline-block;
	text-align: left;
	color: #EEEEEF;
	padding-top: 20px;
	font-size: 30px;
}

.primary-header a {
	color: white;
	text-decoration: none;
}

.primary-header nav ul {
	margin: 0;
	text-align: right;
}

.primary-header nav ul li {
	display: inline-block;
	margin-right: 15px;
	padding-top: 30px;
	color: #EEEEEF;
}

.primary-header nav ul li a:hover {
	border-bottom: 1px #359237 solid;
}

/******** Login Page ********/

.background {
	background-image: url('/images/loginHD.jpg');
	background-size: cover;
	padding: 1px;
	margin: 0;
	height: 100vh;
}

.login {
	background-color: rgba(255,255,255,0.5);
	width: 450px;
	border-radius: 30px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	padding-bottom: 50px;
}

.login .alert {
	font-size: 12px;
	color: red;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 10px 30px;
}


.login-logo {
	margin-left: 20%;
	color: #3B4557;
}

.login-logo li {
	display: inline-block;
}

.login h1 {
	text-align: center;
	color: #3B4557;
	/*color: #40BB43;*/
	padding-top: 30px;
	font-family: 'Open Sans';
}

.fa.fa-3x.fa-key {
	color: #6349DA;
}

.login form {
	max-width: 300px;
	margin: 50px auto;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 4px;
	overflow:hidden;
}

.login div.input {
	border: 1px solid #ddd;
	padding; 5px 0 5px 5px;
	height: 30px;
	width: 300px;
	margin: 20px auto;
	border-radius: 5px;
	background-color: white; 
}

.login div.input:first-child {
	border-top: none;
}

.login div.input:hover i {
	color: #A6E0A8;
}

.login div.input i {
	color: #40BB43;
}

.login div.input input {
	outline: none;
	border:none;
	background-color: transparent;
	width: calc(100% - 40px);
	float:right;
	color: #222;
}

.login .buttons {
	margin-left: 75px;
}

.checkbox {
	margin-bottom: 20px;
}

.login .buttons button {
	height: 25px;
	width: 60px;
	background-color: #40BB43;
	border-radius: 3px;
}

.login .register-button {
	display: inline-block;
	text-transform: capitalize;
	background-color: #6349DA;
	border-radius: 3px;
	height: 20px;
	width: 60px;
	font-size: 10px;
	color: white;
	border: none;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	font-size: 10px;
}

.btn.btn-link {
	font-size: 12px;
	margin-left: 10px;
}

/************ Register *************/

.background {
	background-image: url('/images/loginHD.jpg');
	background-size: cover;
	padding: 1px;
	margin: 0;
	height: 100vh;
}

.register {
	background-color: rgba(255,255,255,0.5);
	width: 450px;
	border-radius: 30px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	padding-bottom: 50px;
}

.register .alert {
	font-size: 12px;
	color: red;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 10px 30px;
}


.register-logo {
	margin-left: 20%;
	color: #3B4557;
}

.register-logo li {
	display: inline-block;
}

.register h1 {
	text-align: center;
	color: #3B4557;
	padding-top: 30px;
	font-family: 'Open Sans';
}

.fa.fa-3x.fa-key {
	color: #6349DA;
}

.register form {
	max-width: 300px;
	margin: 50px auto;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 4px;
	overflow:hidden;
}

.register div.input {
	border: 1px solid #ddd;
	padding; 5px 0 5px 5px;
	height: 30px;
	width: 300px;
	margin: 20px auto;
	border-radius: 5px;
	background-color: white; 
}

.register div.input:first-child {
	border-top: none;
}

.register div.input:hover i {
	color: #A6E0A8;
}

.register div.input i {
	color: #40BB43;
}

.register div.input input {
	outline: none;
	border:none;
	background-color: transparent;
	width: calc(100% - 40px);
	float:right;
	color: #222;
}

.btn.btn-primary {
	margin-left: 75px;
}



/******** Main Header *********/

main > header h1 {
	font-size: 40px;
}

/******* Main Details *******/

.details ul {
	margin: 0;
	padding: 0;
}

.details li {
	display: inline-block;
	margin: 15px 0;
	color: #9B9FA7;
	padding-right: 10px;
}

/******* Main Nav Tabs ********/

.tabs {
	border-bottom: 2px solid #ccc;
}

.tabs a {
	display: inline-block;
	margin: 5px 20px 0 0;
	padding: 10px 0;
	color: #9B9FA7;
	font-size: 20px;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}

.tabs a.selected {
	border-bottom: 2px solid #359237;
}

.tabs a {
	text-decoration: none;
}

/****** Main Nav Buttons ******/

main .disabled {
	background-color: white;
	color: #3B4557;
}

main .warning {
	background-color: #E14D3E;
}

main .edit {
	background-color: #647FDA;
}

/***** Main Table ********/

table.leads {
	width: 100%;
}

table.leads tr {
	border-bottom: 1px solid #D7DDE7;
}

table.leads th {
	padding: 15px 15px 15px 0;
	color: #9B9FA7;
	text-align: left;
}

table.leads td {
	color: #494E56;
	padding: 15px 15px 15px 0;
}

/***** Task Table ********/

table.tasks {
	width: 100%;
}

table.tasks tr {
	border-bottom: 1px solid #D7DDE7;
}

table.tasks th {
	padding: 15px 15px 15px 0;
	color: #9B9FA7;
	text-align: left;
}

table.tasks td {
	color: #494E56;
	padding: 15px 15px 15px 0;
}

/****************Leads **********************/

.info a {
	display: inline-block;
	text-transform: capitalize;
	background-color: #40BB43;
	border-radius: 3px;
	height: 20px;
	width: 60px;
	font-size: 10px;
	color: white;
	border: none;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	font-size: 10px;
}

.info a.count {
	background-color: #5F45D8;
}

.hidden {
	display: none;
}

.leads-statistics {
	margin: 10px auto 0;
	width: 325px;
}

.goal-chart {
	padding-bottom: 10px;
}

/****** Detail- Dashboard Statistics *******/

.detail-dashboard {
	margin-top: 0px;
}

.statistics {
	margin: 20px auto;
	width: 275px;
	/*border-bottom: 2px solid #D7DDE7;*/
}

.statistics h1 {
	color: #58C35A;
}

.goals h4 {
	color: #58C35A;
}

.chart {
	margin: 20px auto 0;
	background-image: url('/images/chart.jpg');
	background-size: cover;
	height: 200px;
	width: 200px;
}

.status-buttons {
	margin: 20px auto 0;
	width: 275px;
	border-top: 2px solid #D7DDE7;
}

.goals {
	margin: 20px auto 0;
	width: 275px;
	border-top: 2px solid #D7DDE7;
}

/****** leadDetail ********/

.detail-form {
	margin-top: 50px;
}

.detail-form form div {
	overflow: hidden;
}

.detail-form form label {
	float: left;
	width: 120px;
	text-align: left;
}

.detail-form form button {
	margin-top: 30px;
}

.detail-form form div {
	padding: 10px;
}

a.delete-lead {
	display: inline-block;
	text-transform: capitalize;
	background-color: #E14D3E;
	border-radius: 3px;
	height: 20px;
	width: 60px;
	font-size: 10px;
	color: white;
	border: none;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	font-size: 10px;
}

a.created {
	background-color: #9CA0A8;
}

/******* leadDetail Dashboard ********/

.lead-detail-statistics {
	margin: 20px auto;
	width: 325px;
}

.status-buttons button {
	height: 50px;
	width: 80px;
	margin-bottom: 15px;
	background-color: #9B9FA7;
}

.status-buttons button.selected{
	background-color: #40BB43;
}

.status-buttons h1 {
	color: #40BB43;
	margin: 10px;
}

.status-buttons .title {
	margin-top: 30px;
}

.statistics div {
	text-transform: capitalize;
}

.statistics.new-lead {
	background-image: url('/images/chart2.png');
	background-size: cover;
	height: 200px;
	margin-bottom: 20px;
	padding-bottom: 80px;
}

.status-buttons.new-lead {
	border-top: 2px solid #D7DDE7;
	margin: 20px auto;
	width: 275px;
}

/******************************************************/
/*lead Add page*/
/******************************************************/

aside .recent-items {
	margin: 30px;
}

aside .recent-items ul {
	list-style-type: none;
	padding: 0;
}

aside .recent-items li {
	margin: 10px auto;
	text-align: center;
}

/******************************************************/
/* Task Detail Page */
/******************************************************/

.task-form div {
	margin-top: 30px;
}

.task-buttons h1 {
	color: #3B4557;
}

.task-form form div {
	overflow: hidden;
}

.task-form label {
	float: left;
	text-align: left;
	width: 120px;
}
 
/******************************************************/
/*Tasks */
/******************************************************/

iframe.calendar {
	margin: 25px auto;
}

/******************************************************/
/*Dashboard */
/******************************************************/

.dashboard-title {
	text-align: center;
}

.dashboard-charts div {
	margin: 20px;
}

.bar-chart {
	height: 300px;
	width: 400px;
	float: left;
}

.line {
	height: 300px;
	width: 400px;
	float: left;
}

.container {
	height: 300px;
	width: 400px;
	float: left;
}

.bar-by-category {
	height: 300px;
	width: 400px;
	float: left;
}


