/***** Defaults ********/


html {
	font-family: "Open Sans";
	font-weight: 300;
}

* {
	font-family: inherit;
	font-weight: inherit;
}

a {
	color: #5DC560;
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: Rokkitt;
}

button {
	text-transform: capitalize;
	background-color: #40BB43;
	border-radius: 2px;
	height: 20px;
	font-size: 10px;
	color: white;
	border: none;
}

/******** Scafolding *********/

.primary-header {
	background-color: #3B4557;
	height: 70px;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
}

main {
	margin-top: 70px;
	margin-right: 350px;
	padding: 20px 100px;
}

main > * + * {
	margin-top: 20px;
}


.detail-dashboard {
	width: 350px;
	background-color: #ECF0F6;
	text-align: center;
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
}

/******* Primary Header *********/


.primary-header h2 {
	float: left;
	margin-left: 90px;
	display: inline-block;
	text-align: left;
	color: #EEEEEF;
	padding-top: 30px;
	font-size: 30px;
}

.primary-header nav ul {
	margin: 0;
	text-align: right;
}

.primary-header nav ul li {
	display: inline-block;
	margin-right: 15px;
	padding-top: 30px;
	color: #EEEEEF;
}


/******** Main Header *********/

main > header h1 {
	font-size: 40px;
}

/******* Main Details *******/

.details ul {
	margin: 0;
	padding: 0;
}

.details li {
	display: inline-block;
	margin: 15px 0;
	color: #9B9FA7;
	padding-right: 10px;
}

/******* Main Nav Tabs ********/

.tabs {
	border-bottom: 2px solid #ccc;
}

.tabs a {
	display: inline-block;
	margin: 5px 20px 0 0;
	padding: 10px 0;
	color: #9B9FA7;
	font-size: 20px;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}

.tabs a.selected {
	border-bottom: 2px solid #359237;
}

.tabs a {
	text-decoration: none;
}

/****** Main Nav Buttons ******/

main .disabled {
	background-color: white;
	color: #3B4557;
}

main .warning {
	background-color: #E14D3E;
}

main .edit {
	background-color: #647FDA;
}

/***** Main Table ********/

table.leads {
	width: 100%;
}

table.leads tr {
	border-bottom: 1px solid #D7DDE7;
}

table.leads th {
	padding: 15px 15px 15px 0;
	color: #9B9FA7;
	text-align: left;
}

table.leads td {
	color: #494E56;
	padding: 15px 15px 15px 0;
}

/****** Detail- Dashboard Statistics *******/

.statistics {
	margin: 20px auto 0;
	width: 275px;
	border-bottom: 2px solid #D7DDE7;
}

.statistics h1 {
	color: #58C35A;
}

.goals h4 {
	color: #58C35A;
}

.chart {
	margin: 20px auto 0;
	background-image: url('/images/chart.jpg');
	background-size: cover;
	height: 200px;
	width: 200px;
}

/****** leadDetail Page Form ********/

.detail-form {
	margin-top: 50px;
}

.detail-form form div {
	overflow: hidden;
}

.detail-form form label {
	float: left;
	width: 120px;
	text-align: left;
}

.detail-form form button {
	margin-top: 30px;
}
/******* leadDetail Dashboard ********/

.status-buttons button {
	height: 50px;
	width: 80px;
	margin-bottom: 10px;
	background-color: #9B9FA7;
}

.status-buttons button.selected{
	background-color: #40BB43;
}

.status-buttons h1 {
	color: #40BB43;
	margin: 20px;
}

/******** Login Page ********/

.background {
	background-image: url('/images/bgc.jpg');
	background-size: cover;
	padding: 1px;
	margin: 0;
	height: 100vh;
}

.login {
	background-color: #ECF0F6;
	height: 500px;
	width: 500px;
	margin: 100px auto;
	border-radius: 30px;
}

.login .logo {
	text-align: center;
	padding-top: 50px;
	color: #3B4557;
}

.login h1 {
	text-align: center;
	color: #40BB43;
	padding-top: 30px;
	font-family: 'Open Sans';
}

.fa.fa-5x.fa-key {
	margin: 0 auto;
}

.login form {
	max-width: 300px;
	margin: 50px auto;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 4px;
	overflow:hidden;
}

.login div.input {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	padding; 5px 0 5px 5px;
	height: 30px;
}

.login div.input:first-child {
	border-top: none;
}

.login div.input:hover i {
	color: #ccc;
}

.login div.input i {
	color: #3B4557;
}

.login div.input input {
	margin-left: 5px;
	outline: none;
	border:none;
	background-color: transparent;
	width: calc(100%-20px);
	float:right;
	color: #222;
}

.login .buttons {
	text-align: center;
}

.login .buttons button {
	height: 35px;
	width: 80px;
	background-color: #6349DA;
}

.login .buttons button:nth-child(2) {
	background-color: #40BB43;
}

/******** Task Detail Page *******/

.task-form div {
	margin-top: 30px;
}

.task-buttons h1 {
	color: #3B4557;
}





/*h1 {
	padding-top: 20px;
	margin-left: 100px;
	margin-top: 0;
	background-color: lightblue;
	width: 200px;
}

.status {
	margin-left: 100px;
	background-color: #00FFFF;
}

.status button {
	background-color: #bbb;
}

h3 {
	display: inline-block;
	font-size: 10px;
	color: white;
	background-color: red;
	width: 60px;
}

.status ul {
	text-align: left;
	padding: 0;
	text-decoration: none;
	display: inline-block;
}

.status li {
	display: inline-block;
	font-size: 12px;
	padding: 2px;
	background-color: red;
	color: white;
}

.status a {
	color: white;
}

a:link {
	text-decoration: none;
}

table {
	margin-left: 100px;
	min-width: 600px;
	text-align: center;
	background-color: #aaa;
}

th {
	padding: 5px;
}
tr {
	border-bottom: 1pt solid black;
	border-top: 1pt solid black;
}

td {
	padding: 5px;
}

.data-forecast {
	border: 8px purple dashed;
	background-color: #b2d4e9;
	height: 400px;
	width: 900px;
	margin-left: 100px;
	margin-top: 20px;
}

footer {
	background-color: turquoise;
	height: 100px;
	clear: both;
}

/************ Start Page ***************/

/*.selection-main {
	background-color: lime;
	min-height: 1500px;
}

p {
	margin-top: 0;
	padding-top: 100px;
}

.selection {
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
}

.selection-box {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	font-size: 50px;
	transform: translateX(120px);
	margin: 20px;
}

.selection-box p {
	padding-top: 130px;
}
*/
/********* Detail Page ********
*/
/*.detail-form {
	margin-left: 100px;
}

.detail-form label {
	text-align: left;
	width: 80px;
	font-weight: bold;
	float: left;
}

.detail-form input {
	width: 300px;
	float: left;	
}

.detail-form div {
	clear: both;
	padding: 5px;
}

.detail-comments {
	width: 500px;
	border: 2px red dashed;
	min-height: 400px;
	margin-top: 80px;
}
*/
/********* Detail Page Dashboard ***********/

/*.status-buttons {
	margin-top: 200px;
}

.status-buttons button {
	text-align: center;
	width: 150px;
	height: 80px;
}
*/
/********* Tasks Page **********/

/*.task-buttons {
	margin-top: 200px;
}

.task-buttons button {
	text-align: center;
	width: 150px;
	height: 80px;
}

.task-table {
	margin-left: 100px;
	margin-bottom: 100px;
}

.task-comments {
	width: 500px;
	border: 2px red dashed;
	margin-left: 100px;
	min-height: 400px;
}
*/
/******** Create Task Page *********/

/*.task-form {
	margin-left: 100px;
}

.task-form label {
	text-align: left;
	width: 80px;
	font-weight: bold;
	float: left;
	padding-bottom: 15px;
}

.task-form select {
	width: 100px;
	float: left;	
}

.task-form input {
	width: 200px;
	float: left;	
}

.task-form button {
	height: 80px;
	width: 100px;
	margin-top: 15px;
}

textarea {
	margin-left: 5px;
}

.task-form div {
	clear: both;
	padding: 5px;
	height: 80px;
}
*/
/******** Create Task Side Bar *********/

/*.priority-low {
	background-color: lime;
}

.priority-medium {
	background-color: yellow;
}

.priority-high {
	background-color: #0000FF;
}

.priority-hot {
	background-color: red;
}