nav {
	background-color: lime;
	height: 70px;
}

h2 {
	float: left;
	display: inline-block;
	text-align: left;
}

nav ul {
	margin: 0;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-right: 15px;
	padding-top: 30px;
}

main {
	background-color: #ddd;
	min-height: 1000px;
	margin-bottom: 0;
}

.content {
	float: left;
}

h1 {
	padding-top: 20px;
	margin-left: 100px;
	margin-top: 0;
	background-color: lightblue;
	width: 200px;
}

.status {
	margin-left: 100px;
	background-color: #00FFFF;
}

.status button {
	background-color: #bbb;
}

h3 {
	display: inline-block;
	font-size: 10px;
	color: white;
	background-color: red;
	width: 60px;
}

.status ul {
	text-align: left;
	padding: 0;
	text-decoration: none;
	display: inline-block;
}

.status li {
	display: inline-block;
	font-size: 12px;
	padding: 2px;
	background-color: red;
	color: white;
}

.status a {
	color: white;
}

a:link {
	text-decoration: none;
}

table {
	margin-left: 100px;
	min-width: 600px;
	text-align: center;
	background-color: #aaa;
}

th {
	padding: 5px;
}
tr {
	border-bottom: 1pt solid black;
	border-top: 1pt solid black;
}

td {
	padding: 5px;
}

.data-forecast {
	border: 8px purple dashed;
	background-color: #b2d4e9;
	height: 400px;
	width: 900px;
	margin-left: 100px;
	margin-top: 20px;
}

footer {
	background-color: turquoise;
	height: 100px;
	clear: both;
}

/************ Start Page ***************/

.selection-main {
	background-color: lime;
	min-height: 1500px;
}

p {
	margin-top: 0;
	padding-top: 100px;
}

.selection {
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
}

.selection-box {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	font-size: 50px;
	transform: translateX(120px);
	margin: 20px;
}

.selection-box p {
	padding-top: 130px;
}

/********* Detail Page *********/

.detail-form {
	margin-left: 100px;
}

.detail-form label {
	text-align: left;
	width: 80px;
	font-weight: bold;
	float: left;
}

.detail-form input {
	width: 300px;
	float: left;	
}

.detail-form div {
	clear: both;
	padding: 5px;
}

.detail-comments {
	width: 500px;
	border: 2px red dashed;
	min-height: 400px;
	margin-top: 80px;
}

/********* Detail Page Dashboard ***********/

.detail-dashboard {
	width: 350px;
	background-color: #7B7474;
	text-align: center;
	height: 1000px;
	float: right;
}

.status-buttons {
	margin-top: 200px;
}

.status-buttons button {
	text-align: center;
	width: 150px;
	height: 80px;
}

/********* Tasks Page **********/

.task-buttons {
	margin-top: 200px;
}

.task-buttons button {
	text-align: center;
	width: 150px;
	height: 80px;
}

.task-table {
	margin-left: 100px;
	margin-bottom: 100px;
}

.task-comments {
	width: 500px;
	border: 2px red dashed;
	margin-left: 100px;
	min-height: 400px;
}

/******** Create Task Page *********/

.task-form {
	margin-left: 100px;
}

.task-form label {
	text-align: left;
	width: 80px;
	font-weight: bold;
	float: left;
	padding-bottom: 15px;
}

.task-form select {
	width: 100px;
	float: left;	
}

.task-form input {
	width: 200px;
	float: left;	
}

.task-form button {
	height: 80px;
	width: 100px;
	margin-top: 15px;
}

textarea {
	margin-left: 5px;
}

.task-form div {
	clear: both;
	padding: 5px;
	height: 80px;
}

/******** Create Task Side Bar *********/

.priority-low {
	background-color: lime;
}

.priority-medium {
	background-color: yellow;
}

.priority-high {
	background-color: #0000FF;
}

.priority-hot {
	background-color: red;
}